<!-- templates/index.html -->

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Image Fusion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="main-heading">IMAGE FUSION</h1>
        <div>
            Explore Image Fusion: Blend diverse images for enhanced clarity. Vital in medical imaging, surveillance, and computer vision for precise analysis.
        </div>

        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file1" accept="image/*" required>
            <input type="file" name="file2" accept="image/*" required>
            <button type="submit">Fuse Images</button>
        </form>
    </div>
</body>
</html>
